---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a confident, results-driven digital marketing professional with extensive experience in delivering successful projects and developing innovative strategies. I am disciplined and energetic individual with a proven track record of driving process improvement and achieving business objectives. Known for my ability to embrace challenges, i am seeking to leverage my skills and expertise to contribute to the growth and success of your organization while further developing my professional capabilities
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Digital Marketing"
      subtitle="2024 at HoneyTreat Academy, Lagos, Nigeria"
    />
    <TimeLineElement
      title="HND Accountancy"
      subtitle="2014-2019 at Kwara State Polytechnic, Ilorin, Nigeria"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Social Media Manager"
      subtitle="2024 at TradeWithLumide, Lagos, Nigeria"
    >
      Develop and execute socia media ad strategies. Manage ad campaigns and track performance. Creating engaging content that drives traffic. Collaborated with the marketing team for alignment. Created a buyer persona for the brand.
    </TimeLineElement>
    <TimeLineElement
      title="Data Entry"
      subtitle="From Nov 2021 to Apr 2022 at Lagos Writers, Lagos, Nigeria"
    >
      Accurately recorded and managed data,ensuring that all informations are entered correctly and efficiently. Ensured data integrity and consistency through regular checks and updates.
    </TimeLineElement>
    <TimeLineElement
      title="Data Entry"
      subtitle="From Feb 2021 to Jul 2021 at The Memo Communication, Lagos, Nigeria"
    Accurately transferring data from paper format into database system. Performs regular backups in ensuring data preservation. Updating existing data. Ensuring the safety of all clients personal information.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Email Marketing</li>
    <li>Search Engine Optimization</li>
    <li>Meta Ads</li>
    <li>Google Local Service</li>
    <li>Google Ads</li>
    <li>Soft Skill</li>
    <li>Wikipedia Edit</li>
    <li>Blog Writing</li>
    <li>Social Media Marketing</li>
    <li>Google Analytics</li>
    <li>Twitter Ads</li>
    <li>Google Slides</li>
    <li>Entrepreneurship</li>
    <li>Looker Studio</li>
    <li>Content Creation</li>
  </ul>
</BaseLayout>
